aclocal.m4
autom4te.cache
autoscan.log
build
compile
config.guess
config.sub
configure
configure~
configure.scan
depcomp
install-sh
ltmain.sh
Makefile.in
missing
c/src/config.h.in
c/src/Makefile.in
python/alpha_lib/__pycache__
python/alpha_lib/lang/__pycache__
python/alpha_lib_old/__pycache__
python/alpha_os.egg-info
python/.venv
